.nav-menu {
  float: left;
}

.search {
  display: inline-block;
  width: 300px;
  margin-left: 20px;
  padding-top: 11px;
}

.search-input {
  display: block;
  width: 300px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 33px;
  float: left;
  border-style: none;
  border-radius: 20px;
  background-color: #f0f0f0;
}

.search-button {
  display: none;
  float: right;
  border-radius: 10px;
  background-color: #fff;
  color: #5d3737;
}

.nav-menu-2 {
  display: inline-block;
  width: auto;
}

.dropdown-toggle {
  display: inline-block;
  color: #242424;
}

.button {
  margin-top: 12px;
  margin-left: 11px;
  padding-right: 20px;
  padding-left: 20px;
  border: 3px solid #6bc8cc;
  border-radius: 25px;
  background-color: #6bc8cc;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.container {
  padding-top: 14px;
}

.navbar {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  height: 90px;
  background-color: #fff;
  box-shadow: 0 8px 40px -10px rgba(0, 0, 0, .08);
}

.bg {
  height: auto;
  margin-top: 90px;
  margin-bottom: 0px;
  padding-top: 40px;
  padding-bottom: 67px;
  background-color: #f5f5f5;
  color: #fff;
  font-weight: 100;
}

.container-2 {
  margin-top: 0px;
  padding: 0px;
  border-radius: 0px;
  background-color: transparent;
}

.container-2.profilepage {
  padding: 30px 50px;
  border-radius: 10px;
  background-color: #fff;
}

.productrow {
  margin-right: 0px;
  margin-bottom: 47px;
}

.column {
  display: block;
}

.itemdiv {
  display: block;
  width: 200px;
  margin-right: 11px;
  margin-left: auto;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  box-shadow: 0 4px 11px -1px rgba(0, 0, 0, .04);
}

.productimage {
  display: block;
  width: 200px;
  height: 150px;
  margin-right: auto;
  margin-left: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.div-block {
  width: auto;
}

.productname {
  height: 60px;
  margin-top: 0px;
  color: #242424;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.price {
  float: left;
  color: #575757;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.heart {
  float: right;
  font-family: 'Font awesome 5 free 400', sans-serif;
  color: #c3c3c3;
  font-weight: 400;
}

.heart.profile {
  font-family: 'Font awesome 5 free solid 900', sans-serif;
  color: #e66969;
}

.text-block {
  color: #242424;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1px;
}

.icon {
  color: #242424;
}

.nav-link {
  margin-right: 6px;
  padding-right: 10px;
  padding-left: 5px;
  float: left;
  color: #242424;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1px;
}

.heading2 {
  display: block;
  margin-top: 2px;
  margin-bottom: 20px;
  padding-left: 0px;
  color: #242424;
  font-size: 28px;
  font-weight: 400;
  text-align: left;
  letter-spacing: 1px;
}

.heading2.center {
  margin-bottom: 30px;
  text-align: center;
}

.heading2.centre {
  text-align: center;
}

.aboutsection {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  padding-top: 80px;
  padding-bottom: 80px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-linear-gradient(270deg, #6bc8cc, #6bc8cc);
  background-image: linear-gradient(180deg, #6bc8cc, #6bc8cc);
}

.footer {
  height: 300px;
  background-color: #f0f0f0;
}

.productinfo {
  padding: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #fff;
}

.sellername {
  padding-bottom: 10px;
  border-bottom: 1px solid #ebebeb;
  color: #242424;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.heading-5 {
  margin-bottom: 57px;
  color: #fff;
  font-size: 60px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 1.5px;
}

.whyscrapdiv {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  font-size: 30px;
  font-weight: 400;
}

.whypara {
  color: #fff;
  text-align: center;
  letter-spacing: 1.5px;
}

.brand {
  display: none;
}

.logo {
  float: left;
  color: #6bc8cc;
  font-size: 30px;
  font-weight: 700;
}

.startscrapping {
  display: block;
  width: 250px;
  margin-top: 43px;
  margin-right: auto;
  margin-left: auto;
  padding: 15px 25px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 35px;
  background-color: #fff;
  color: #000;
  font-size: 14px;
  text-align: center;
  letter-spacing: 2px;
}

.link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 35px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 2px;
  text-decoration: none;
}

.category1 {
  display: inline-block;
  color: #6bc8cc;
  text-decoration: none;
}

.breadcrumbs {
  margin-bottom: 35px;
  float: left;
}

.text-block-2 {
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px;
  font-family: 'Font awesome 5 free solid 900', sans-serif;
  color: #7c7c7c;
}

.text-block-3 {
  display: inline-block;
  margin-left: 0px;
  color: #6bc8cc;
}

.slide {
  background-image: url('../images/samsung-galaxy-note-5-with-stylus.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-2 {
  background-image: url('../images/iphone-4-back-hero.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-3 {
  background-image: url('../images/download.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.mask {
  border-radius: 10px 0px 0px 10px;
}

.div-block-2 {
  height: 400px;
  padding: 20px 30px 30px;
  border-radius: 0px 10px 10px 0px;
  background-color: #fff;
}

.slider {
  height: 400px;
}

.container-3 {
  margin-bottom: 0px;
}

.column-2 {
  padding-left: 0px;
}

.column-3 {
  padding-right: 0px;
}

.heading3 {
  display: block;
  margin: 0px auto;
  padding-right: 46px;
  float: left;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #555454;
  font-size: 18px;
  font-weight: 400;
  text-align: right;
}

.heading3.link {
  color: #6bc8cc;
}

.heading3.list {
  margin-bottom: 9px;
  float: right;
  text-align: right;
}

.text-block-4 {
  display: block;
  width: 24px;
  margin-top: 6px;
  margin-right: 14px;
  margin-left: auto;
  float: left;
  font-family: 'Font awesome 5 free solid 900', sans-serif;
  color: #575757;
  font-size: 18px;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
  margin-left: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.button-2 {
  margin-top: 16px;
  margin-bottom: 11px;
  margin-left: 40px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 20px;
  background-color: #6bc8cc;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.div-block-4 {
  margin-left: 53px;
}

.link-block {
  display: block;
  margin-top: 13px;
  margin-left: 40px;
  float: none;
  text-decoration: none;
}

.text-block-5 {
  display: inline-block;
  margin-left: 10px;
  float: left;
  color: #6bc8cc;
  font-weight: 400;
  letter-spacing: 1px;
  text-decoration: none;
}

.text-block-6 {
  display: inline-block;
  float: left;
  font-family: 'Font awesome 5 free 400', sans-serif;
  color: #6bc8cc;
}

.row {
  margin-bottom: 30px;
}

.div-block-5 {
  margin-bottom: 30px;
  padding: 30px 50px;
  border-style: none;
  border-color: #000;
  border-radius: 10px;
  background-color: #fff;
}

.paragraph {
  margin-bottom: 20px;
  color: #242424;
  line-height: 25px;
  letter-spacing: 1px;
}

.image {
  display: block;
  margin-right: auto;
  margin-left: auto;
  float: none;
}

.row-2 {
  margin-bottom: 39px;
}

.div-block-6 {
  margin-bottom: 34px;
  padding: 0px;
  border-radius: 10px;
  background-color: transparent;
  color: #242424;
}

.link-3 {
  margin-top: -10px;
  margin-left: 0px;
  float: left;
  color: #6bc8cc;
  font-style: italic;
  letter-spacing: 1px;
}

.row-3 {
  padding-bottom: 0px;
}

.image-2 {
  width: 30px;
  height: 30px;
  margin-top: 15px;
  margin-left: 16px;
  float: left;
  border-radius: 100%;
}

.link-4 {
  margin-top: 19px;
  margin-right: 22px;
  float: left;
  font-family: 'Font awesome 5 free solid 900', sans-serif;
  color: #6bc8cc;
  font-size: 20px;
  text-decoration: none;
}

.search-input-2 {
  margin-bottom: 0px;
  padding-left: 31px;
  border: 1px none #000;
  border-radius: 20px;
  background-color: #f0f0f0;
}

.search-button-2 {
  display: none;
}

.dropdown-toggle-2 {
  margin-right: 13px;
  margin-bottom: 25px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 3px solid #f0f0f0;
  border-radius: 20px;
}

.div-block-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 29px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.button-4 {
  margin-right: 11px;
  padding-right: 20px;
  padding-left: 20px;
  border: 2px solid #6bc8cc;
  border-radius: 20px;
  background-color: transparent;
  color: #6bc8cc;
  font-weight: 700;
  letter-spacing: 1px;
}

.button-4.center {
  display: block;
  width: 200px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.button-5 {
  padding-right: 20px;
  padding-left: 20px;
  border: 2px solid #6bc8cc;
  border-radius: 20px;
  background-color: transparent;
  color: #6bc8cc;
  font-weight: 700;
  letter-spacing: 1px;
}

.reviews {
  margin-top: 30px;
}

.image-3 {
  display: block;
  width: 100px;
  height: 100px;
  margin-right: auto;
  margin-left: auto;
}

.reviewrow {
  margin-bottom: 61px;
}

.list-item {
  margin-bottom: 17px;
}

.unordered-list {
  padding-left: 20px;
}

.field-label {
  display: inline-block;
  float: left;
  color: #242424;
}

.text-field {
  display: inline-block;
  float: left;
}

.listformitem {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-bottom: 61px;
  margin-left: auto;
}

.dropdown {
  float: left;
}

.dropdown-toggle-3 {
  padding-top: 10px;
  padding-bottom: 8px;
  border-radius: 20px;
  background-color: #f0f0f0;
}

.select-field {
  display: block;
  width: 500px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 20px;
  float: none;
  border-radius: 20px;
  background-color: #f0f0f0;
}

.text-field-2 {
  display: block;
  width: 500px;
  margin-bottom: 0px;
  padding-left: 20px;
  border-radius: 20px;
}

.textarea {
  width: 500px;
  height: 300px;
  border-radius: 20px;
}

.heading-7 {
  float: left;
  text-align: right;
}

.unordered-list-2 {
  padding-right: 42px;
}

.div-block-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  height: 150px;
  margin-right: 350px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #d6d3d3;
  border-radius: 10px;
}

.text-block-7 {
  font-family: 'Font awesome 5 free solid 900', sans-serif;
  color: #d6d3d3;
  font-size: 40px;
}

.button-6 {
  display: block;
  width: 200px;
  margin-right: auto;
  margin-bottom: 22px;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  border-radius: 20px;
  background-color: #6bc8cc;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
}

.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  padding-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #6bc8cc;
  font-weight: 700;
  text-transform: uppercase;
}

.div-block-9 {
  width: 600px;
  height: 500px;
  padding: 60px;
  border-radius: 20px;
  background-color: #fff;
}

.heading-8 {
  margin-bottom: 10px;
  color: #6bc8cc;
  font-size: 60px;
  text-align: center;
  letter-spacing: 3px;
}

.field-label-2 {
  text-align: center;
}

.field-label-3 {
  text-align: center;
}

.text-field-3 {
  display: block;
  width: 300px;
  margin-right: auto;
  margin-bottom: 25px;
  margin-left: auto;
  border-radius: 20px;
  text-align: center;
}

.text-field-4 {
  display: block;
  width: 300px;
  margin: 0px auto 25px;
  border-radius: 20px;
  text-align: center;
}

.submit-button {
  display: block;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 20px;
  background-color: #6bc8cc;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.form {
  margin-top: 36px;
}

.heading-9 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #242424;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 2px;
}

.link-5 {
  display: block;
  margin-top: 23px;
  margin-right: auto;
  margin-left: auto;
  color: #6bc8cc;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  text-transform: none;
}

.link-6 {
  color: #6bc8cc;
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
}

@font-face {
  font-family: 'Font awesome 5 free 400';
  src: url('../fonts/Font-Awesome-5-Free-Regular-400.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Font awesome 5 brands 400';
  src: url('../fonts/Font-Awesome-5-Brands-Regular-400.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Font awesome 5 free solid 900';
  src: url('../fonts/Font-Awesome-5-Free-Solid-900.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}